<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>

<p>Time: @(DateTime.Now.ToShortTimeString())</p>

<p>@ViewData["Nunjucks"]</p>

<a href="@Url.Action("Nunjucks")">Nunjucks page</a>