<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>

@Html.Raw(ViewData["Nunjucks1"])

<p>
	Render time: @ViewData["RenderTime1"]
</p>

<hr/>

@Html.Raw(ViewData["Nunjucks2"])

<p>
	Render time: @ViewData["RenderTime2"]
</p>